.pointerEvents-2KjWnj, .avatar-3QF_VA>svg>circle, .contents-2MsGLg .vc-platform-indicator>svg, .avatarHoverTarget-1zzfRL>div>svg>circle {
  display: var(--rs-show-platformindicators) !important;}
.cursorDefault-2M8ZNp, .bannerSVGWrapper-2CLfzN>mask>circle, .avatarHoverTarget-1zzfRL>div>svg>mask>rect, .avatarHintInner-2HUAWj{
  display: none
}
/* Chat, Memberlist, DMs and Friendlist */
.userInfo-2WpsYG {overflow: visible;}
.avatar-2e8lTP, .avatar-6qzftW, .avatar-1HDIsL:not(:has(.linkButtonIcon-7rsZcu)), .avatar-2MSPKk {
  scale: var(--rs-small-size);
  margin-top: -0.25em;
  border: var(--rs-small-spacing) solid transparent;
  box-shadow: 0 0 var(--rs-small-glow) var(--rs-small-thickness) var(--rs-offline-color);
  border-radius: calc(var(--rs-small-roundness)/2);
  z-index: 1;
  background-clip: content-box;
}
.avatar-31d8He {
  z-index: 0;
  border-radius: calc(var(--rs-small-roundness)/2);
}
.contents-2MsGLg:has(svg[fill="var(--green-360"])>.avatar-2e8lTP, .avatar-6qzftW:has([aria-label*="Online"]), .avatar-1HDIsL:has([aria-label*="Online"]), .avatar-2MSPKk:is([aria-label*="Online"])  {
  box-shadow: 0 0 var(--rs-small-glow) var(--rs-small-thickness) var(--rs-online-color)
}
.contents-2MsGLg:has(svg[fill="var(--yellow-300"])>.avatar-2e8lTP, .avatar-6qzftW:has([aria-label*="Idle"]), .avatar-1HDIsL:has([aria-label*="Idle"]), .avatar-2MSPKk:is([aria-label*="Idle"])  {
  box-shadow: 0 0 var(--rs-small-glow) var(--rs-small-thickness) var(--rs-idle-color) !important
}
.contents-2MsGLg:has(svg[fill="var(--red-400"])>.avatar-2e8lTP, .avatar-6qzftW:has([aria-label*="Do Not Disturb"]), .avatar-1HDIsL:has([aria-label*="Do Not Disturb"]), .avatar-2MSPKk:is([aria-label*="Do Not Disturb"])  {
  box-shadow: 0 0 var(--rs-small-glow) var(--rs-small-thickness) var(--rs-dnd-color) !important
}
.contents-2MsGLg:has(svg[fill="var(--twitch"])>.avatar-2e8lTP, .layout-1qmrhw:has(svg[fill="var(--twitch"]) .avatar-6qzftW {
  box-shadow: 0 0 var(--rs-small-glow) var(--rs-small-thickness) var(--rs-streaming-color)
}
.contents-2MsGLg:has([data-tag*="bot"])>.avatar-2e8lTP, .layout-1qmrhw:has([data-tag*="bot"])>:first-child  {
  box-shadow: 0 0 var(--rs-small-glow) var(--rs-small-thickness) var(--rs-bot-color)
}

/* Popout and DM-Sidebar */
.avatarHoverTarget-1zzfRL img {
  border-radius: calc(var(--rs-medium-roundness)/2);
}
.avatarWrapper-eenWra {
  background: var(--rs-avatar-background);
  box-shadow: 0px 0px 0px var(--rs-medium-backgroundsize) var(--rs-medium-backgroundcolor);
}
.avatarHoverTarget-1zzfRL {
  scale: var(--rs-medium-size);
  border: var(--rs-medium-spacing) solid var(--rs-spacer-color);
  box-shadow: 0 0 var(--rs-medium-glow) var(--rs-medium-thickness) var(--rs-offline-color);
  border-radius: calc(var(--rs-medium-roundness)/2);
}
.avatarHoverTarget-1zzfRL:has([aria-label*="Online"]) {
  box-shadow: 0 0 var(--rs-medium-glow) var(--rs-medium-thickness) var(--rs-online-color)
}
.avatarHoverTarget-1zzfRL:has([aria-label*="Idle"]) {
  box-shadow: 0 0 var(--rs-medium-glow) var(--rs-medium-thickness) var(--rs-idle-color) !important
}
.avatarHoverTarget-1zzfRL:has([aria-label*="Do Not Disturb"]) {
  box-shadow: 0 0 var(--rs-medium-glow) var(--rs-medium-thickness) var(--rs-dnd-color) !important
}
.userPopoutInner-nv9Y92:has([data-tag*="bot"])>.avatarWrapper-eenWra>.avatarHoverTarget-1zzfRL {
  box-shadow: 0 0 var(--rs-medium-glow) var(--rs-medium-thickness) var(--rs-bot-color) !important
}

/* Full Profile Pane */
.avatar-3QF_VA img {
  border-radius: calc(var(--rs-large-roundness)/2);
}
.avatar-3QF_VA {
  scale: var(--rs-large-size);
  border: var(--rs-large-spacing) solid var(--rs-spacer-color);
  box-shadow: 0 0 var(--rs-large-glow) var(--rs-large-thickness) var(--rs-offline-color);
  border-radius: calc(var(--rs-large-roundness)/2);
}
.avatar-3QF_VA:is([aria-label*="Online"]) {
  box-shadow: 0 0 var(--rs-large-glow) var(--rs-large-thickness) var(--rs-online-color)
}
.avatar-3QF_VA:is([aria-label*="Idle"]) {
  box-shadow: 0 0 var(--rs-large-glow) var(--rs-large-thickness) var(--rs-idle-color) !important
}
.avatar-3QF_VA:is([aria-label*="Do Not Disturb"]) {
  box-shadow: 0 0 var(--rs-large-glow) var(--rs-large-thickness) var(--rs-dnd-color) !important
}
/* Make a variable background for the people that want it (thanks aoi) */
.avatarHoverTarget-1zzfRL, .avatar-3QF_VA {
    background: var(--rs-avatar-background);
}
